body {
    background-color: dimgray;
    }
    h1 {
    caret-color: green;
    }
    title {color: blue;
    }
    p {
        font-size: 14px;
        font-family: verdana;
        text-align: center;
        text-decoration: rgb(223, 223, 250);
        
        }